/* Import custom font */
@font-face { font-family: heading; src: url('heading.ttf'); } 
@font-face { font-family: body; src: url('body.otf'); } 


.header {
    padding: 0.8%;
    position:relative;
    z-index:2;
    box-shadow: 0 4px 2px -2px rgb(230, 230, 230);  
    background-color: white;
}

.header img {
    float: left;
    width: auto;
    height: 50px;
    padding-left: 1.2%;
    padding-right: 0.5%;
    color: rgb(19, 56, 128);
    border-width: 1.7px;
    border-right-style: solid;
}

.header h1 {
    font-family: heading;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 4.75%;
    color: rgb(19, 56, 128);
}
  
.header h2 {
    float: right;
    font-family: heading;
    font-weight: 500;
    font-size: 1.1em;
    color: rgb(19, 56, 128);
    border-style: solid;
    border-width: 2px;
    padding: 0.4em;
    margin-right: 2%;
}

/* Call to action 'apply' button changes colour on hover */
.header h2:hover {
    color: rgb(227, 24, 55);
}

.title {
    background-color:rgb(249, 249, 249);
    padding-top: 1%;
    padding-bottom: 1%;
}

.title h1 {
    font-family: heading;
    font-weight: 600;
    font-size: 2em;
    color: rgb(36, 41, 52);
    position: relative;
    display:inline-block;
    margin-left: 10%;
}

h3 {
    font-family: heading;
    color: rgb(36, 41, 52);
    font-weight: 100;
    font-size: 1.5em;
    margin-left: 10%;
}

p {
    font-family: body;
    color: rgb(36, 41, 52);
    margin-left: 10%;
    line-height: 1.6em;
    margin-right: 40%;
}

hr {
    margin-left: 7%;
    margin-top: 4%;
    margin-right: 7%;
    opacity: 0.15;
}



#licence_check {
    margin-right: 7%;
}

#licence_details {
    padding-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
}

strong {
    font-family: body;
    color: rgb(36, 41, 52);
    margin-left: 10%;
    line-height: 1.6em;
    margin-right: 40%;
}

ul {
    font-family: body;
    color: rgb(36, 41, 52);
    margin-left: 10%;
    line-height: 1.8em;
    margin-right: 40%;
}

ol {
    font-family: body;
    color: rgb(36, 41, 52);
    margin-left: 10%;
    line-height: 1.8em;
    margin-right: 40%;
}

.footer {
    color: white;
}

.form {
    
    float: center;
    background-color:white;
    height:auto;
    width:800px;
    margin:0 auto;
    padding-bottom: 100px;
    
}

/* Progress bar styling */
.form .progress{
    float: center;
    height:95px;
    width:800px;
    margin:0 auto;
    border: 2px solid rgb(236, 237, 239);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; 
}

h4 {
    font-family: heading;
    color: rgb(170 , 175, 180);
    font-weight: 50;
    font-size: 1.2em;
    display: inline-block;
    width: 33%;
    text-align: center;
    padding-top: 1.7%;
}

.form h3{
    margin-left: 7%;
}

.form p{
    margin-left: 7%;
}

.text-success {
    font-family: body;
    color: rgb(36, 41, 52);
    margin-left: 10%;
    line-height: 1.6em;
    
    font-size:2em;
    float:right;
    margin-top:-20px;
    opacity: 0.7;
}

.image-container {
    margin-left: 7%;
    width: 110px;
    height: 110px;
    border: 2px solid rgb(170 , 175, 180);
    padding-right: 4px;
    display: inline-block;
    vertical-align: top;
}

/* Styling for selected licence option */
.selected {
    margin-left: 7%;
    width: 110px;
    height: 110px;
    border: 2px solid rgb(227, 24, 55);
    padding-right: 4px;
    display: inline-block;
    vertical-align: top;
}

/* Image container for fish icon inside licence option buttons */
.image-container img[alt="one"] {
    margin-top: 15px;
    width: auto;
    height: 30px;
    display: block;
    margin-left: 32px;
    margin-right: auto;
    margin-bottom: 24px;
}

.image-container img[alt="two"] {
    margin-top: 11px;
    width: auto;
    height: 38px;
    display: block;
    margin-left: 24px;
    margin-right: auto;
    margin-bottom: 21px;
}

.image-container img[alt="three"] {
    margin-top: 5px;
    width: auto;
    height:46px;
    display: block;
    margin-left: 19px;
    margin-right: auto;
    margin-bottom: 18px;
}

.image-container img[alt="four"] {
    margin-top: 5px;
    width: auto;
    height: 54px;
    display: block;
    margin-left: 11px;
    margin-right: auto;
}

.image-container h5 {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: heading;
    color: rgb(170 , 175, 180);
    font-weight: 50;
    font-size: 0.9em;
    text-align: center;
}

h6 {
    margin-top: -10px;
    margin-bottom: 5px;
    font-family: body;
    font-size: 0.9em;
    color: rgb(170 , 175, 180);
    margin-left: 7%;
    line-height: 1.6em;
    margin-right: 40%;
}

/* Form field styling */
input {
    margin-top: -50px;
    margin-left: 7%;
    font-family: body;
    color: rgb(36, 41, 52);
    border: 1px solid rgb(170 , 175, 180);
    border-radius: 2px;
    background-color: #fff;
    padding: 3px 5px;
    width: 190px;
  }

.form h2 {
    font-family: heading;
    font-weight: 500;
    font-size: 1.1em;
    color: rgb(227, 24, 55);
    border-style: solid;
    border-width: 2px;
    padding: 0.4em;
    margin-left: 20%;
    display: inline;
}

button {
    margin-top: 50px;
    margin-left: 7%;
    font-family: heading;
    font-weight: 500;
    font-size: 1.1em;
    background-color: white;
    color: rgb(227, 24, 55) ;
    border: 2px solid rgb(227, 24, 55);
    padding: 0.4em;
}

#previous {
    color: rgb(170 , 175, 180) ;
    border: 2px solid rgb(170 , 175, 180);
}

.review {
    background-color: rgb(236, 237, 239);
    height: 260px;
    margin-left: 7%;
    margin-right: 7%;

}

.column {
    line-height: 1.8em;
    font-family: body;color: rgb(36, 41, 52);
    float: left;
    width: 25%;
    margin-left: 40px;
    margin-top: 10px;
}

p.user {
    line-height: 1.8em;
    font-family: body;color: rgb(36, 41, 52);
    float: left;
    margin-top: 5px;
    margin-left: 0;
}

p.payment{
    color: rgb(170 , 175, 180);
    line-height: 0.8em;
    font-family: body;
    margin-left: 7%;
    margin-right: 40%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 7%;
  }
  
  /* Hide the default check box */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom check button */
  .checkmark {
    
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On hover add grey background color to check box */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When  button is checked, add a red background */
  .container input:checked ~ .checkmark {
    background-color:rgb(227, 24, 55);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the check box indicator */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  #hero {
    max-width: 86%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



  

/* Mobile responsive styling */
@media screen and (max-width: 700px) {
    .header img {
        padding-left: 17%;
        padding-right: 3%;
    }
    
    .header h1 {
        font-size: 1.1em;
        padding-left: 7.4em;
    }

    /* Hide banner in mobile */
    .header h2 {
      visibility: hidden;
      clear: both;
      float: left;
      display: none;
    }
    
    .title h1 {
        font-size: 1.4em;
        margin-left: 5%;
    }
    
    h3 {
        font-size: 1.1em;
        margin-left: 5%;
    }
    
    p {
        margin-left: 5%;
        font-size: 0.9em;
        line-height: 1.8em;
        margin-right: 5%;
    }

    
    
    strong {
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    ul {
        font-size: 0.9em;
        margin-left: 5%;
        line-height: 1.8em;
        margin-right: 5%;
    }
    
    ol {
        font-size: 0.9em;
        margin-left: 5%;
        line-height: 1.8em;
        margin-right: 5%;
    }

    /* Sticky footer styling */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding-left: 35%;
        box-shadow: 0 -4px 2px -2px rgb(230, 230, 230);  
        
    }

    #details{
        padding-left: 90px;
    }

    .column {
        line-height: 1.8em;
        font-size: 0.6em;
        font-family: body;color: rgb(36, 41, 52);
        float: left;
        width: 15%;
        margin-left: 20px;
        margin-top: 10px;
        margin-right: 30px;
    }



    button {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 10px;
        margin-left:00px;
        font-family: heading;
        font-weight: 500;
        font-size: 1.1em;
        background-color: white;
        color: rgb(227, 24, 55) ;
        border: 2px solid rgb(227, 24, 55);
        padding: 0.4em;
        
    }


    .image-container {
        margin-left: 11%;
    }

    
    .footer h2 {
        float: left;
        font-family: heading;
        font-weight: 500;
        font-size: 1.1em;
        color: rgb(227, 24, 55);
        border-style: solid;
        border-width: 2px;
        padding: 0.4em;
    }

    .form {
    
        float: center;
        background-color:white;
        height:auto;
        width:auto;
        margin:0 auto;
        
    }

    .form .progress{
        visibility: hidden;
        clear: both;
        float: left;
        display: none;

    }

    .image-container {
        margin-bottom: 7%;
    }

  }